<!DOCTYPE html>
<html>
<head>
  <title>CS355</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>CS355</h1>
<p><%= subtitle %></p>

<a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab 8</a>
</body>
</html>


<br />
<a href="http://localhost:3000/HelloWorld.html">Absolute Link</a>


<br />
<a href="http://localhost:3000/templatelink">Template Link</a>

<br />
<a href="/account/?account_id=1">Account By ID</a>

<br />
<a href="/account/all">All Accounts</a>





<br />
<a href="/school/?school_id=1">School By ID</a>

<br />
<a href="/school/all">All Schools</a>


<br />
<a href="/GPA/all">Average GPA for each company</a>

<br />
<a href="/UserJob/all">UserJob View</a>
